*{
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-family:  Helvetica, sans-serif;
    font-weight: 100;
}

body{
    background-color: black;
    color: white;
}

div.inputs, div.todos{
    box-sizing: border-box;
    max-width: 900px;
    margin: 50px auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
}
div.inputs > .row{
    display:  flex;
    /* gap: 10px; */
}
div.inputs > .row >input{
    background-color: #2B2B2B;
    color: white;
    flex-grow: 1;
    /* background-color: #F1ECE6; */
    border: none;
    border-radius: 30px ;
    font-size: 1.6rem;
    outline: none;
    padding: 15px 20px ;

}
div.inputs button{
    width: 100px;
    border-radius:  0 30px 30px 0;
    background-color: #76B7CD;
    border:  none;
    font-size: 1.6rem;
    color: #FFF;
    font-weight: 700;
}
input#description{
    border-radius: 30px 0 0 30px;
}



/* todo-container */
div.todos{
    background-color: #2B2B2B;
    border-radius: 30px;
    padding: 20px;
}
div.todos  .todo{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

div.todos  .todo > details{
    flex-grow: 1;
}

div.todos  .todo summary {
    list-style: none;   
}
div.todos  .todo summary{
    font-size: 1.6rem;
}

div.todos  .todo summary.done{
    text-decoration:line-through;
    color: rgb(73, 73, 73);
}

div.todos .todo img{
    height: 30px;
}
.todo button:hover{
    background-color: rgb(34, 34, 34);
    cursor: pointer;
}
hr{
    border-width: 1px;
    border-color: #76B7CD;
    border-top-style:solid;
    width: 90%;
    margin: auto;
}