*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    height: 100vh;
}






.todos-container{
    flex-grow: 1;
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 50px 80px;
}

.todos{
    padding-top: 30px;
}

.todo{
    display: flex;
    flex-grow: 1;
    gap: 10px;
    border-bottom: 1px solid grey;
    padding: 10px;
    align-items: center;
}
.todo-title{
    flex-grow: 1;

}


button.add-todo{
    position: fixed;
    display: none;
    bottom: 40px;
    right: 40px;
}

button.add-todo.active{
    display: inline-block;
}




.add-todo{
    background-color: #DB4C3F;
    border-radius: 50%;
    border: 1px solid #DB4C3F ;
    
}



.icon{
    width: 25px;
}
